{{#if noactimerge}}


<div class="content">
<div class = "alert alert-danger">
<p > You are yet to activate your account. </p>
</div>

<h5 class = "text-primary">Hello {{bio.full_name}}, Welcome to your dashboard!</h5>
	{{#showErrors}}
				{{#mergeerror}}
				  <div id = "mergeerror" class="alert alert-danger">
					{{.}}
				  </div>
				{{/mergeerror}}
			{{/showErrors}}
			{{#showErrors}}
				{{#error}}
				  <div id = "error" class="alert alert-danger">
					{{.}}
				  </div>
				{{/error}}
			{{/showErrors}}
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-info">
                      <i class="nc-icon nc-key text-warning"></i> 
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                  
                    <div class="numbers">
                    <!--<form action = "/activate" method = "POST">
                    <button class = " btn btn-success" type = "submit" id = "activate">Activate</button>
                    </form>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i>
                  Update Now
                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
{{/if}}
{{#if pendingmerge}}
<div class = "content">
{{#showSuccess}}
				{{#success}}
				  <div id = "success" class="alert alert-success">
					{{.}} click <a href = "/dashboard/#merging"> here to see</a>
				  </div>
				{{/success}}
			{{/showSuccess}}
				{{#showErrors}}
				{{#mergeerror}}
				  <div id = "mergeerror" class="alert alert-danger">
					{{.}}
				  </div>
				{{/mergeerror}}
			{{/showErrors}}
<div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Payment Details</h5>
               
              </div>
              <div class="card-body ">
                
                <p class = "text-danger"><b>
                Pay {{pendingmerge.receiver_fullname}} N1000 before {{pendingmerge.expire}}.</b>
                </p>
                <br>
                <p>
                Account Name:  {{pendingmerge.receiver_account_name}}<br>
                Account Number: {{pendingmerge.receiver_account_number}}<br>
                Bank: {{pendingmerge.receiver_bank_name}}<br>
                Amount: N1000<br>
                Phone: {{pendingmerge.receiver_phone}}<br>
                Status: {{pendingmerge.status}}<br>
                Time Left: <span class = "text-danger"> {{timeleft}} .</span>
                </p>
               
                
                
                	<div class = "form-group">
                	<a href = "/iPaid/{{pendingmerge.order_id}}"><button class = "btn btn-primary" type= "button">I have paid</button></a>
                	</div>
                
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
{{/if}}

{{#if unconmerge}}
<div class = "content">
{{#showSuccess}}
				{{#success}}
				  <div id = "success" class="alert alert-success">
					{{.}} click <a href = "/dashboard/#merging"> here to see</a>
				  </div>
				{{/success}}
			{{/showSuccess}}
				{{#showErrors}}
				{{#mergeerror}}
				  <div id = "mergeerror" class="alert alert-danger">
					{{.}}
				  </div>
				{{/mergeerror}}
			{{/showErrors}}
<div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Payment Details</h5>
               
              </div>
              <div class="card-body ">
                
                <p class = "text-danger"><b>
                You claimed to pay  {{unconmerge.receiver_fullname}} the sum of N1000. Call your receiver to confirm your payment before {{unconmerge.expire}}</b>
                </p>
                <br>
                <p>
                Account Name:  {{unconmerge.receiver_account_name}}<br>
                Account Number: {{unconmerge.receiver_account_number}}<br>
                Bank: {{unconmerge.receiver_bank_name}}<br>
                Amount: N1000<br>
                Phone: {{unconmerge.receiver_phone}}<br>
                Status: <span class = "text-warning"> {{unconmerge.status}}</span><br>
                Time Left: <span class = "text-danger"> {{timeleft}} .</span>
                </p>
                <br><img src = "{{unconmerge.pop}}" class = "img-fluid"/>
                
                
                
                	
                
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
{{/if}}

{{#if contestmerge}}
<div class = "content">
{{#showSuccess}}
				{{#success}}
				  <div id = "success" class="alert alert-danger">
					{{.}} click <a href = "/dashboard/#merging"> here to see</a>
				  </div>
				{{/success}}
			{{/showSuccess}}
				{{#showErrors}}
				{{#mergeerror}}
				  <div id = "mergeerror" class="alert alert-danger">
					{{.}}
				  </div>
				{{/mergeerror}}
			{{/showErrors}}
<div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Payment Details</h5>
               
              </div>
              <div class="card-body ">
                
                <p class = "text-danger"><b>
                You claimed to pay  {{unconmerge.receiver_fullname}} the sum of N1000 however, {{contestmerge.receiver_fullname}} seems like he/she did not get the fund. You can still reach out to him or her. Meanwhile, Join the chat to resolve the issue</b>
                </p>
                <br>
                {{#if chat}}
                	<a href = "/chat/{{chat.id}}"><button type = "button" class = "btn btn-primary" >JOIN CHAT</button>
                {{/if}}
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
{{/if}}