{{#if noactimerge}}


<div class="content">
<div class = "alert alert-danger">
<p > You are yet to activate your account. </p>
</div>
	{{#showErrors}}
				{{#mergeerror}}
				  <div id = "mergeerror" class="alert alert-danger">
					{{.}}
				  </div>
				{{/mergeerror}}
			{{/showErrors}}
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-info">
                      <i class="nc-icon nc-key text-warning"></i> 
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                  
                    <div class="numbers">
                      <form method = "Post" action = "/activate">
                      <button class = " btn btn-success" type = "submit">Activate</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i>
                  Update Now
                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
{{else}}
<div class = "content">
{{#showSuccess}}
				{{#success}}
				  <div id = "success" class="alert alert-danger">
					{{.}} click <a href = "/dashboard/#merging"> here to see</a>
				  </div>
				{{/success}}
			{{/showSuccess}}
<div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Payment Details</h5>
               
              </div>
              <div class="card-body ">
                {{#if actimerge}}
                <p class = "text-danger"><b>
                Pay {{actimerge.receiver_fullname}} N1000 before {{actimerge.expire}}.</b>
                </p>
                <br>
                <p>
                Account Name:  {{actimerge.receiver_account_name}}<br>
                Account Number: {{actimerge.receiver_account_number}}<br>
                Bank: {{actimerge.receiver_bank_name}}<br>
                Amount: N1000<br>
                Phone: {{actimerge.receiver_phone}}<br>
                Status: {{actimerge.status}}<br>
                Time Left: <span class = "text-danger"> {{timeleft}} hours.</span>
                </p>
                {{/if}}
                
                <form action = "/tId">
                	<div class = "form-group">
                		<input class = "form control" name = "tId" placeholder = "transaction Id">
                	</div>
                </form>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
{{/if}}