{{> mainh}}

{{> mainnav}}


    <div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/login.png');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">{{mess}}</h1>
          
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">{{mess}}</h2>
          </div>
        </div>
		</div>
		<div class = "container">
			<div class = "row">
				<div class = "col-md-6">
				<h3>Q.	Is my personal information protected with your company?</h3>
				<p>A.	Yes. Any personal information that you provide to any of our businesses are privacy protected. 

				</div>
				<div class = "col-md-6">
				<h3 id="refund">Q.	Are there any refunds?</h3>
				<p>A.	No.</p> 

				</div>
			</div><br>
			<div class = "row">
				<div class = "col-md-6">
				<h3>Q.	The system is telling me to pay someone I do not think I should be paying.. What do I do?</h3>
				<p>A.	Follow the system and pay who the system tells you to pay...

				</div>
				<div class = "col-md-6">
				<h3 id="refund">Q.	Am I supposed to give my password downline info to my upline?</h3>
				<p>A.	NO. Your password is for you only and your upline does not need your downline information.</p> 

				</div>
			</div><br>
			<div class = "row">
				<div class = "col-md-6">
				<h3>Q.	Can I change my Username?</h3>
				<p>A.	No. Usernames and emails are the only thing in your profile that can not be changed... 

				</div>
				<div class = "col-md-6">
				<h3 id="refund">Q.	I have the wrong sponsor what do I do?</h3>
				<p>A.	Your account will auto delete in 72 hours then you can re register and follow the instructions above the form..<br><br>
<emp><strong>IMPORTANT PLEASE READ THIS!!</strong></emp>

Make sure your sponsor's name is at the sponsor column in the registration form.

If it is not present please copy the link again with no space at the end.</p> 
				</div>
				</div><br>
				<div class = "row">
					<div class = "col-md-6">
					<h3>Q.	HOW IS {{title}} DIFFERENT FROM OTHERS?</h3>
					<p>A.	{{title}} is probably the only online business with hybrid earning system, easy to achieve, built with the users in mind, encourages sponsorship and great team spirit. 

					</div>
						<div class = "col-md-6">
						<h3 id="refund">Q.	IS THE PROGRAMME OPEN TO EVERYONE?</h3>
						<p>A.	Yes, the membership is open to anyone, individuals or teams.</p> 

						</div>
			</div><br>
			<div class = "row">
				<div class = "col-md-6">
				<h3>Q.	How do i activate my account?</h3>
				<p>A.	Click on the Activate Button on your <a href ="/dashboard" target = "_blank"> dashboard</a>. You will be required to pay N1,000 only.

				</div>
				<div class = "col-md-6">
				<h3 id="refund">Q.	Must i refer to earn?</h3>
				<p>A.	It depends. But note that this is strictly a multi level marketing platform and as such, it is a referral based business (your referrals follow you), if you cannot refer, join these fast teams <a href = "/fastteams/ref={{username}}">here</a> to benefit from the spillovers and earn without referring.</p> 

				</div>
			</div><br>
			<div class = "row">
			<div class = "col-md-6">
				<h3>Q.	How Long do i have to pay my activation fee?</h3>
				<p>A.	You have 3 hours to pay and another 24 hours to be confirmed. Do not click to pay if you are not with the money.

				</div>
				<div class = "col-md-6">
				<h3 id="refund">Q.	How long is the feeder matrix?</h3>
				<p>A.	Our feeder matrix is a 3 x 1 forced matrix. Meaning its just one level deep!</p> 

				</div>
			</div><br>
			<div class = "row">
			<div class = "col-md-6">
				<h3>Q.	Will all my three direct downline pay to me</h3>
				<p>A.	No. Lets say you have three legs (a, b and c), A pays to you, B pays to your sponsor (as sponsor bonus) while C pays to you. see <a href = "/howitworks/ref={{username}}"> more here </a>

				</div>
				<div class = "col-md-6">
				<h3 id="refund">Q.	What is the ROI?</h3>
				<p>A.	It depends! When you refer, you get N10,000 * number of referrals per cycle plus your matrix earnings. When you don't, you get only your matrix earnings.</p> 

				</div>
			</div><br>
			<div class = "row">
			<div class = "col-md-6">
				<h3>Q.	How much is the referral bonus?</h3>
				<p>A.	It's N10,000 for the feeder matrix. </a>

				</div>
				
				<div class = "col-md-6">
				<h3 id="refund">Q.	How long is the feeder matrix?</h3>
				<p>A.	Our feeder matrix is a 3 x 1 forced matrix. Meaning its just one level deep!</p> 

				</div>
			</div><br>
			<div class = "row">
			<div class = "col-md-6">
				<h3>Q.	I just entered the feeder matrix, should i expect payment immediately?</h3>
				<p>A.	Ofcourse! start sharing your link. </a>

				</div>
				
				<div class = "col-md-6">
				<h3 id="refund">Q.	I just filled up my three legs, what do i do?</h3>
				<p>A.	Enter the feeder matrix again under your leg! All you have to do is click on the Enter feeder button on your dashboard</p> 

				</div>
			</div><br>
			<div class = "row">
			<div class = "col-md-6">
				<h3>Q.	Can i get my referral bonus without entering the matrix?</h3>
				<p>A.	No. Once you have maxed out the number of times you need to enter the matrix, you won't earn any money on the platform again. </a>

				</div>
				
				<div class = "col-md-6">
				<h3 id="refund">Q.	How do i get my referral link?</h3>
				<p>A.	See the <a href = "/referrals" target = "_blank"> referrals </a> section</p> 

				</div>
			</div><br>
			</div>
		</div>
	</div>

	
	{{> mainf}}