{{> spageh}}
{{> spagenav}}

	<div class="content">
	 {{#if errors}}
  {{#each errors}}
  <div class="alert alert-danger">
    {{this.msg}}
  </div>
  {{/each}}
{{/if}}
{{#showErrors}}
{{#error}}
  <div class="alert alert-danger">
    {{.}}
  </div>
{{/error}}
{{/showErrors}}
{{#showSuccess}}
{{#success}}
  <div id = "success" class="alert alert-success">
    {{.}} 
  </div>
{{/success}}
{{/showSuccess}}
<div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Password Reset </h5>
                {{#if success}}
                click <a id = "resendPass" href = "/resendPass/email={{email}}/str={{str}}"> here </a> to resend link.
                {{/if}}
                </div>
                <div class="card-body">
                <form action = "/passwordreset" method = "post">
               
                  
                      <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email" value = "" name = "email" required/>
                        <div class="update  ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round"> Submit </button>
                    
                  </div>
                      </form>
                    </div>
                      </div>
                      </div>
                </div>

{{> spagef}}