{{> mainh}}


<div class="section section-signup" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
         {{#if errors}}
  {{#each errors}}
  <div class="alert alert-danger">
    {{this.msg}}
  </div>
  {{/each}}
{{/if}}

{{#if error}}
  <div class="alert alert-danger">
    {{error}}
  </div>
  {{/if}}
  {{#if success}}
  <div class="alert alert-success">
    {{success}}
  </div>
  {{/if}}
		<div class="container">
          <div class="row">
            <div class="card card-signup" data-background-color="orange">
              <form class="form" action = "/register" method = "post">
                <div class="card-header text-center">
                  <h3 class="card-title title-up">Log In</h3>
                  <div class="social-line">
                    <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-round">
                      <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-neutral btn-google btn-icon btn-round">
                      <i class="fab fa-google-plus"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <div class="input-group no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                     <input class="form-control" placeholder="Username" type="text" name = "username" value = "{{username}}" required/>
                  </div>
				  <div class="input-group no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                     <input class="form-control" placeholder="sponsor" type="text" name = "sponsor" value = "{{sponsor}}" /  >
                    </div>
                  <div class="input-group no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons text_caps-small"></i>
                      </span>
                    </div>
                    <input class="form-control" placeholder="Fullname" type="text" name = "fullname" value = "{{fullname}}" required/  >
                    </div>
                  <div class="input-group no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" name = "email" value = "{{email}}" required/  >
                    </div>
					<div class="input-group no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                    <input class="form-control" placeholder="Phone Number" type="tel" name = "phone" value = "{{phone}}" required/  >
                    </div>
					<div class="input-group no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                    <input class="form-control" placeholder="Password"  id = "REGpassword" type="password" name = "password" value = "{{password}}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/ >
                      
                    </div>
					<div class="input-group no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                    <input class="form-control" id = "cpass" placeholder="Re-enter Password" type="password" name = "cpass" value = "{{password}}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/ >
                    </div>
                  <!-- If you want to add a checkbox to this form, uncomment this code -->
                  <!-- <div class="checkbox">
								<input id="checkboxSignup" type="checkbox">
									<label for="checkboxSignup">
									Unchecked
									</label>
								</div> -->
                </div>
                <div class="card-footer text-center">
                  <button type="submit" class="btn btn-neutral btn-round btn-lg">Get Started</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col text-center">
            <a href = "/login/ref={{username}}" class="btn btn-outline-default btn-round btn-white btn-lg" target="_blank">View Login Page</a>
          </div>
        </div>
      </div>
	
	
	
	
</div>

{{> mainf}}
